{% for field in form %}
<div class="campo-formulario {% if field.name == 'descricao' %}campo-largo{% endif %}">
    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
    {{ field }}
    {% for error in field.errors %}<span class="erro-campo">{{ error }}</span>{% endfor %}
</div>
{% endfor %}
{% if not form.instance.pk %}
<fieldset class="campo-largo">
    <legend>Novo produto (preencha somente se não selecionou um existente)</legend>
    {{ form.product_form.as_p }}
</fieldset>
{% endif %}
